.card-img-top {
    width: 100%;
    height: auto; /* Адаптивная высота */
}

/* Основные элементы */
body, html {
    background-color: #f5f7fa; /* Светлый серый фон */
    color: #4a4a4a; /* Умеренно темный серый текст */
    min-height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Современный шрифт */
}

/* Навигационная панель */
.navbar {
    background-color: #ffffff !important; /* Белый фон для навигационной панели */
    box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Небольшая тень для глубины */
}

.nav-link {
    color: #7a7a7a !important; /* Темно-серый цвет текста ссылок */
}

.navbar .nav-item.active .nav-link {
    color: #000000 !important;
}

.nav-link:hover {
    color: #000000 !important; /* Черный при наведении */
}

/* Кнопки */
.btn-primary {
    background-color: #007bff; /* Ярко-синий фон для кнопок */
    border-color: #007bff; /* Граница синего цвета для кнопок */
}

.btn-primary:hover {
    background-color: #0056b3; /* Темно-синий фон для кнопок при наведении */
    border-color: #0056b3; /* Темно-синяя граница для кнопок при наведении */
}

/* Карточки продуктов */
.card-fixed-size {
    height: 100%; /* Фиксированная высота карточки */
    width: 100%; /* Фиксированная ширина карточки */
    margin: 10px; /* Отступ для отделения карточек друг от друга */
    display: flex; /* Использование Flexbox для управления содержимым карточки */
    flex-direction: column; /* Ориентация содержимого карточки в колонку */
}

.card-fixed-size .card-img-top {
    width: 100%; /* Ширина изображения равна ширине карточки */
    object-fit: cover; /* Обеспечивает покрытие всей области изображения без искажений */
}

.card-fixed-size .card-body {
    flex-grow: 1; /* Позволяет содержимому карточки заполнять оставшееся пространство */
    overflow: auto; /* Добавляет прокрутку, если содержимое превышает выделенное пространство */
}

.content {
    min-height: 100%;
}

.site-footer {
    height: 43px;
    width: 100%;
    background-color: #007bff; /* Ярко-синий фон футера */
    color: #ffffff; /* Белый текст */
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
}
