/* Пример пользовательских стилей */
.card-img-top {
    width: 100%;
    height: auto; /* Или фиксированная высота, если нужно */
}

/* Основные элементы */
body {
    background-color: #f0f8ff; /* Светло-голубой фон */
    color: #03396c; /* Темно-голубой текст */
}

/* Навигационная панель */
.navbar {
    background-color: #b3cde0 !important; /* Голубой фон для навигационной панели */
}

.nav-link {
    color: #03396c !important; /* Темно-голубой цвет текста ссылок */
}

.nav-link:hover {
    color: #011f4b !important; /* Чуть более темный оттенок голубого при наведении */
}

/* Кнопки */
.btn-primary {
    background-color: #03396c; /* Темно-голубой фон для кнопок */
    border-color: #03396c; /* Темно-голубая граница для кнопок */
}

.btn-primary:hover {
    background-color: #011f4b; /* Чуть более темный оттенок голубого для фона кнопок при наведении */
    border-color: #011f4b; /* Чуть более темный оттенок голубого для границы кнопок при наведении */
}

/* Карточки продуктов */
.card {
    border-color: #b3cde0; /* Голубая граница для карточек */
}

.card-header {
    background-color: #b3cde0; /* Голубой фон для заголовка карточки */
    color: #03396c; /* Темно-голубой текст для заголовка карточки */
}

.card-body {
    background-color: #e6f2ff; /* Очень светло-голубой фон для тела карточки */
}

.card-fixed-size {
    height: 100%; /* Фиксированная высота карточки */
    width: 100%; /* Фиксированная ширина карточки */
    margin: 10px; /* Отступ для отделения карточек друг от друга */
    display: flex; /* Использование Flexbox для управления содержимым карточки */
    flex-direction: column; /* Ориентация содержимого карточки в колонку */
}

.card-fixed-size .card-img-top {
    width: 100%; /* Ширина изображения равна ширине карточки */
    object-fit: cover; /* Обеспечивает покрытие всей области изображения без искажений */
}

.card-fixed-size .card-body {
    flex-grow: 1; /* Позволяет содержимому карточки заполнять оставшееся пространство */
    overflow: auto; /* Добавляет прокрутку, если содержимое превышает выделенное пространство */
}
